@white: #fff;
@gray: #e6e6e6;
@background: #f0f0f0;

@text-color: #afafaf;

body {
  background-color: @background;
}

header {
  div.row {
    background-color: @white;
    border-bottom: 2px solid darken(@white, 5%);
  }
}

footer {
  div.row {
    color: @text-color;
    padding: 5px 0;
    text-align: center;
    background-color: @white;
    border-top: 2px solid darken(@white, 5%);
  }
}

.welcome-container {
  text-align: center;
  padding: 10px 0;
}

.content-container {
  table {
    width: 100%;
  }
}

form {
  padding: 10px;
  margin: 10px;
  background-color: @white;
  text-align: center;
}

.error {
  color: darkred;
}

table {
  width: 100%;

  .col-1 {
    font-weight: bold;
  }

  .col-1, .col-2 {
    width: 40%;
  }

  .col-3 {
    width: 20%;
  }
}

ul {
  list-style: none;
  padding: 0;

  li {
    padding: 3px 0;
    vertical-align: middle;

    a.option {
      text-decoration: none;
    }
  }
}

ul#to-select, ul#edit-to-select {
  .remove-selected {
    display: none;
  }
}

ul#selected-list, ul#edit-selected-list {
  .remove-selected {
    display: inline-block;
  }
}

form.form-horizontal {
  border-radius: 5px;
}