body {
  background-color: #f0f0f0;
}
header div.row {
  background-color: #ffffff;
  border-bottom: 2px solid #f2f2f2;
}
footer div.row {
  color: #afafaf;
  padding: 5px 0;
  text-align: center;
  background-color: #ffffff;
  border-top: 2px solid #f2f2f2;
}
.welcome-container {
  text-align: center;
  padding: 10px 0;
}
.content-container table {
  width: 100%;
}
form {
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  text-align: center;
}
.error {
  color: darkred;
}
table {
  width: 100%;
}
table .col-1 {
  font-weight: bold;
}
table .col-1,
table .col-2 {
  width: 40%;
}
table .col-3 {
  width: 20%;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding: 3px 0;
  vertical-align: middle;
}
ul li a.option {
  text-decoration: none;
}
ul#to-select .remove-selected,
ul#edit-to-select .remove-selected {
  display: none;
}
ul#selected-list .remove-selected,
ul#edit-selected-list .remove-selected {
  display: inline-block;
}
form.form-horizontal {
  border-radius: 5px;
}
