{% extends 'base.html' %}

{% block title %}
    404 | Page not found
{% endblock %}

{% block content %}
    <div class="row welcome-container">
        <div class="col-md-6 col-md-offset-3">
            <br>
            <h1>Page not found</h1>
            <br>
        </div>
    </div>
{% endblock %}