{% extends 'base.html' %}

{% block title %}
    Authors
{% endblock %}

{% block libs %}
    <script src="../static/js/authors.js"></script>
{% endblock %}

{% block content %}
    <br>

    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <div class="input-group">
                <input type="text" id="input-search" class="form-control" value="{{ q }}">
                <span class="input-group-btn">
                    <button class="btn btn-default search" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            {% if session.user_id %}
                <a data-toggle="modal" href="#addAuthorModal" class="btn btn-primary pull-right">Add author</a>
                {#                <button class="btn btn-primary pull-right">Add book</button>#}
            {% endif %}
            <a href="/books" class="btn btn-link pull-right">Books</a>
        </div>
    </div>

    <br>

    <div class="row content-container">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-1">Name</th>
                        <th class="col-2">Books</th>
                        <th class="col-3"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for author in authors %}
                        <tr id="book-{{ author['id'] }}">
                            <td class="col-1">{{ author['name'] }}</td>
                            <td class="col-2">
                                <ul class="related">
                                    {% for book in author['books'] %}
                                        <li>{{ book['title'] }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="col-3">
                                {% if session.user_id %}
                                    <a href="" class="edit-item">Edit</a>
                                    &nbsp;
                                    <a href="" class="remove-item">Delete</a>
                                {% else %}
{#                                    <span>Please, <a href="http://localhost:5000/login">login</a> to see actions</span>#}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add author</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p><strong>Name</strong></p>
                            <p class="error" id="add-author-error"></p>
                            <input type="text" class="form-control" id="authorName" placeholder="Enter author name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add-author">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="editAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit author</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p><strong>Name</strong></p>
                            <p class="error" id="edit-author-error"></p>
                            <input type="text" class="form-control" id="newAuthorName" placeholder="Enter author name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="edit-author">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}