<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/base.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>

    {% block libs %}
    {% endblock %}
</head>
<body>


<header>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <a href="http://localhost:5000">
                <img src="../static/images/Management-Library-icon.png" width="32" alt="Logo here">
            </a>
        </div>

        <div class="col-md-3 col-md-offset-0">
            {% if not session.user_id %}
                <a data-toggle="modal" href="/users/register" class="btn btn-link pull-right">Register</a>
                <a data-toggle="modal" href="/users/login" class="btn btn-link pull-right">Login</a>
            {% else %}
                <a data-toggle="modal" href="/users/logout" class="btn btn-link pull-right">Logout</a>
            {% endif %}
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <span>Oleg Stasula 2013</span>
        </div>
    </div>
</footer>


</body>
</html>