{% extends 'base.html' %}

{% block title %}
    Books
{% endblock %}

{% block libs %}
    <script src="../static/js/books.js"></script>
{% endblock %}

{% block content %}
    <br>

    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <div class="input-group">
                <input type="text" id="input-search" class="form-control" value="{{ q }}">
                <span class="input-group-btn">
                    <button class="btn btn-default search" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            {% if session.user_id %}
                <a data-toggle="modal" href="#addBookModal" class="btn btn-primary pull-right">Add book</a>
                {#                <button class="btn btn-primary pull-right">Add book</button>#}
            {% endif %}
            <a href="/authors" class="btn btn-link pull-right">Authors</a>
        </div>
    </div>

    <br>

    <div class="row content-container">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-1">Title</th>
                        <th class="col-2">Authors</th>
                        <th class="col-3"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr id="book-{{ book['id'] }}">
                            <td class="col-1">{{ book['title'] }}</td>
                            <td class="col-2">
                                <ul class="related">
                                    {% for author in book['authors'] %}
                                        <li id="lia-{{ author['id'] }}">{{ author['name'] }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="col-3">
                                {% if session.user_id %}
                                    <a href="" class="edit-item">Edit</a>
                                    &nbsp;
                                    <a href="" class="remove-item">Delete</a>
                                {% else %}
{#                                    <span>Please, <a href="http://localhost:5000/login">login</a> to see actions</span>#}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add book</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <p><strong>Name</strong></p>
                            <p class="error" id="add-book-error"></p>
                            <input type="text" class="form-control" id="bookName" placeholder="Enter book name">
                        </div>
                        <div class="col-md-5">
                            <p><strong>Authors</strong></p>
                            <ul id="selected-list">
                            </ul>
                            <div class="dropdown">
                                <a id="dLabel" role="button" class="" data-toggle="dropdown" data-target="#" href="">
                                    Add author<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" id="to-select" role="menu" aria-labelledby="dLabel">
                                    {% for a in authors %}
                                    <li>
                                        <a class="option" role="" tabindex="-1" href="#" id="eauthor-{{ a['id'] }}">{{ a['name'] }}</a>
                                        <button type="button" class="btn btn-warning btn-xs remove-selected pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add-book">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit book</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <p><strong>Name</strong></p>
                            <p class="error" id="edit-book-error"></p>
                            <input type="text" class="form-control" id="newBookName" placeholder="Enter book name">
                        </div>
                        <div class="col-md-5">
                            <p><strong>Authors</strong></p>
                            <ul id="edit-selected-list">
                            </ul>
                            <div class="dropdown">
                                <a role="button" class="" data-toggle="dropdown" data-target="#" href="">
                                    Add author<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" id="edit-to-select" role="menu" aria-labelledby="dLabel">
                                    {% for a in authors %}
                                        <li>
                                            <a class="option" role="" tabindex="-1" href="#" id="author-{{ a['id'] }}">{{ a['name'] }}</a>
                                            <button type="button" class="btn btn-warning btn-xs remove-selected pull-right">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="edit-book">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}