{% extends 'base.html' %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}
    <div class="row welcome-container">
        <div class="col-md-6 col-md-offset-3">
            <br>

            <h1>Welcome to online library!</h1>
            <br>
            <h3><a href="/books">Books</a>
            &nbsp;
            <a href="/authors">Authors</a></h3>
        </div>
    </div>

    <div class="row welcome-container">
        <div class="col-md-6 col-md-offset-3">
            <br>
            <h4>Built using next technologies:</h4>
            <ul>
                <li><strong>Flask</strong></li>
                <li><strong>Jinja2</strong></li>
                <li><strong>SQLAlchemy</strong></li>
                <li><strong>SQLite</strong></li>
                <li><strong>WTForms</strong></li>
                <li><strong>jQuery</strong></li>
                <li><strong>Bootstrap</strong></li>
                <li><strong>LESS</strong></li>
            </ul>
            <br>
        </div>
    </div>

    <br><br>
{% endblock %}