{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="row welcome-container">
        <div class="col-md-4 col-md-offset-4">
            <br>

            <form class="form-horizontal" role="form" method="POST" action="/users/register">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

                <h2>Sign Up</h2>

                {% for f in form %}
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ f.label }}
                            {% for error in  f.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                            {{ f(class="form-control") }}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-lg-offset-4 col-md-6">
                        <a href="login" class="btn btn-link">Sign In</a>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </form>

            <br>
        </div>
    </div>
{% endblock %}